$color-text: #303030;
$color-bg: #F1F1F1;
$color-success: #29845A;
$color-link: #0070F3;
$color-success-bg: #CDFEE1;
$color-success-text: #0C5132;
$color-border: #E3E3E3;
$color-surface: #FFFFFF;
$color-muted: #616161;
$color-placeholder: #B5B5B5;
$height-table-row:44px;


$font-weight-normal:450;
$font-weight-bold: 700;